@*nhan dien cac file trong thu muc Models*@
@using project.Models
@using X.PagedList.Mvc.Core
@*khai bao kieu du lieu cua Model*@
@model X.PagedList.IPagedList<ItemProduct>
@*doi tuong de goi ham hien thi phan trang*@

@{
    //import file Layout.cshtml vao day
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
@functions {
    public MyDbContext db = new MyDbContext();
    public string GetCategory(int _ProductId)
    {
        var record = (from item_category in db.Categories join item_category_product in db.CategoriesProducts on item_category.Id equals item_category_product.CategoryId join item_product in db.Products on item_category_product.ProductId equals item_product.Id where item_product.Id == _ProductId select item_category).ToList();
        string str = "";
        foreach (var item in record)
        {
            str += "<div>" + item.Name + "</div>";
        }
        return str;
    }
    public string GetTag(int _ProductId)
    {
        var record = (from item_tag in db.Tags join item_tag_product in db.TagsProducts on item_tag.Id equals item_tag_product.TagId join item_product in db.Products on item_tag_product.ProductId equals item_product.Id where item_product.Id == _ProductId select item_tag).ToList();
        string str = "";
        foreach (var item in record)
        {
            str += "<div>" + item.Name + "</div>";
        }
        return str;
    }
}


<div class="col-md-12">
    <div style="margin-bottom:5px;">
        <a href="/Admin/Products/Create" class="btn btn-primary">Create</a>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">List Products</div>
        <div class="panel-body">
            <table class="table table-bordered table-hover">
                <tr>
                    <th style="width:100px;">Photo</th>
                    <th>Name</th>
                    <th style="width:200px;"></th>
                    <th style="width:200px;"></th>
                    <th style="width:70px; text-align:center;">Hot</th>
                    <th style="width:120px;"></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @*
                        File.Exists(duongdan) tra ve true neu duongdan ton tai, nguoc lai tra ve false
                        *@
                            @if (!String.IsNullOrEmpty(item.Photo))
                            {
                                <img src="~/Upload/Products/@item.Photo" style="width:100px;">
                            }
                        </td>
                        <td>@item.Name</td>
                        <th>@Html.Raw(GetCategory(item.Id))</th>
                        <th>@Html.Raw(GetTag(item.Id))</th>
                        <td style="text-align:center;">
                            @if (item.Hot == 1)
                            {
                                <span class="fa fa-check"></span>
                            }
                        </td>
                        <td style="text-align:center;">
                            <a href="/Admin/Products/Update/@item.Id">Update</a>&nbsp;
                            <a href="/Admin/Products/Delete/@item.Id" onclick="return window.confirm('Are you sure?');">Delete</a>
                        </td>
                    </tr>
                }
            </table>
            <style type="text/css">
                .pagination {
                    padding: 0px;
                    margin: 0px;
                }
            </style>
            @*phan trang bang tay*@
            @*So trang: @Model.PageCount /
            Trang hien tai: @Model.PageNumber*@
            @*phan trang bang ham PagedListPager*@
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }) )
        </div>
    </div>
</div>