@* nhận diện các file trong thư mục Models*@
@using project.Models
@using X.PagedList.Mvc.Core
@*Khai báo kiểu dữ liệu của Model (có cũng được không có cũng được)*@
@model X.PagedList.IPagedList<ItemCategory>
@*Đối tượng để gọi hàm hiện thị phân trang*@
@using X.PagedList.Mvc

@{
    //import file layout.cshtml vào đây
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

@functions{
    public MyDbContext db = new MyDbContext();
    public List<ItemCategory> SubCategories(int _CategoryId)
    {
        List<ItemCategory> list_record = db.Categories.Where(item => item.ParentId == _CategoryId).OrderByDescending(item => item.Id).ToList();
        return list_record;
    }
}

<div class="col-md-12">
    <div style="margin-bottom:5px;">
        <a href="/Admin/Categories/Create" class="btn btn-primary">Create</a>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">List Category</div>
        <div class="panel-body">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Name</th>
                    <th style="width:150px;">Display Home Page</th>
                    <th style="width:120px;"></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td style="text-align:center;">@if (item.DisplayHomePage == 1) { <text><span class="fa fa-check"></span></text> }</td>
                        <td style="text-align:center;">
                            <a href="/Admin/Categories/Update/@item.Id">Update</a>&nbsp;
                            <a href="/Admin/Categories/Delete/@item.Id" onclick="return window.confirm('Are you sure?');">Delete</a>
                        </td>
                    </tr>
                    List<ItemCategory> list_sub_categories = SubCategories(item.Id);
                    foreach (var subItem in list_sub_categories)
                    {
                        <tr>
                            <td style="padding-left:40px;">@subItem.Name</td>
                            <td style="text-align:center;">@if (subItem.DisplayHomePage == 1)
                                {
                                    <text><span class="fa fa-check"></span></text>
                                }</td>
                            <td style="text-align:center;">
                                <a href="/Admin/Categories/Update/@subItem.Id">Update</a>&nbsp;
                                <a href="/Admin/Categories/Delete/@subItem.Id" onclick="return window.confirm('Are you sure?');">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </table>
            <style type="text/css">
                .pagination {
                    padding: 0px;
                    margin: 0px;
                }
            </style>
            @*phan trang bang tay*@
            @*So trang : @Model.PageCount /
            Trang Hien tai : @Model.PageNumber*@
            @*Phan trang bang ham PagedListPager*@
            @Html.PagedListPager(Model,page => Url.Action("Index",new {page} ))
        </div>
    </div>
</div>