@*nhan dien cac file trong thu muc Models*@
@using project.Models
@using X.PagedList.Mvc.Core
@*khai bao kieu du lieu cua Model*@
@model X.PagedList.IPagedList<ItemProduct>
@*doi tuong de goi ham hien thi phan trang*@

@{
    //import file Layout.cshtml vao day
    Layout = "~/Views/Shared/Layout2.cshtml";
}
<div class="banner-shop">
    <a href="#" class="banner-link">
        <figure><img src="~/Frontend/images/shop-banner.jpg" alt=""></figure>
    </a>
</div>

<div class="wrap-shop-control">

    <h1 class="shop-title">Digital & Electronics</h1>

    <div class="wrap-right">

        <div class="sort-item orderby ">
            <select id="order" class="use-chosen" onchange="sort_order();">
                <option value="">Default sorting</option>
                <option value="name-asc">Sort by name a-z</option>
                <option value="name-desc">Sort by name z-a</option>
                <option value="price-asc">Sort by price: low to high</option>
                <option value="price-desc">Sort by price: high to low</option>
            </select>
            <script language="javascript">
                function sort_order() 
                {
                    //lay value cua id=order
                    var get_value = document.getElementById("order").value;
                    //di chuyen den url
                    @if (ViewBag.CategoryId != null && ViewBag.Category == 0)
                    {
                        <text>location.href = "/Products/Category?order=" + get_value; </text>
                    }
                     else
                    {
                        <text>location.href = "/Products/Category/@ViewBag.CategoryId?order=" + get_value; </text>
                    }
                }
            </script>
        </div>


    </div>

</div><!--end wrap shop control-->

<div class="row">

    <ul class="product-list grid-products equal-container">
        @foreach (var item in Model)
        {
            <li class="col-lg-4 col-md-6 col-sm-6 col-xs-6 ">
                <div class="product product-style-3 equal-elem ">
                    <div class="product-thumnail">
                        <a href="/Products/Detail/@item.Id" title="@item.Name">
                            <figure><img src="~/Upload/Products/@item.Photo" alt="@item.Name"></figure>
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="/Products/Detail/@item.Id" class="product-name"><span>@item.Name</span></a>
                        <div class="wrap-price"><span class="product-price">$250.00</span></div>
                        <!-- rating -->
                        <div class="wrap-price">
                            <div class="product-price">
                                <a href="/Products/Rating/@item.Id?star=1" style="margin-right: 3px;"><i class="fa fa-star" style="color:#efce4a;"></i></a>
                                <a href="/Products/Rating/@item.Id?star=2" style="margin-right: 3px;"><i class="fa fa-star" style="color:#efce4a;"></i></a>
                                <a href="/Products/Rating/@item.Id?star=3" style="margin-right: 3px;"><i class="fa fa-star" style="color:#efce4a;"></i></a>
                                <a href="/Products/Rating/@item.Id?star=4" style="margin-right: 3px;"><i class="fa fa-star" style="color:#efce4a;"></i></a>
                                <a href="/Products/Rating/@item.Id?star=5" style="margin-right: 3px;"><i class="fa fa-star" style="color:#efce4a;"></i></a>
                            </div>
                        </div>
                        <!-- /rating -->
                        <a href="/Cart/Buy/@item.Id" class="btn add-to-cart">Add To Cart</a>
                    </div>
                </div>
            </li>
        }
    </ul>

</div>

<div class="wrap-pagination-info">
    <ul class="page-numbers">
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            string strSelected = "";
            if (i == Model.PageNumber)
            {
                strSelected = "current";
            }
            <li><a class="page-number-item  @strSelected" href="/Products?page=@i">@i</a></li>
        }
    </ul>
</div>